@{
    ViewData["Title"] = "SF OneApp - Requests";
}
    <div class="row">
        <!-- Heading row -->
        <div class="row">
            <div class="col-md-12">
                <h1>Requests Backend Service</h1>
            </div>
        </div>
        <!-- Input, Table and Messages -->
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <p>Add requests to user requests queue</p>
                    <!-- Input and Table -->
                    <div class="col-md-6">
                        <!-- Input -->
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="keyInput" placeholder="userName" tabindex="1">
                                <input type="text" class="form-control" id="valueInput" placeholder="value" tabindex="2">
                            </div>
                        </div>
                        <div class="row top-buffer">
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" onclick="generateRequests1()" type="button" id="addRequestValue" tabindex="3">Generate requests</button>
                            </div>
                            @*<div class="col-md-6">
                                <button class="btn btn-primary btn-block" onclick="getAllRequests()" type="button" id="getAllRequests" tabindex="4">Get All requests in queue</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-primary btn-block" onclick="deleteAllRequests()" type="button" id="deleteAllRequests" tabindex="5">Delete All requests in queue</button>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/requests.js?v=11"></script>
